@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: "Roboto";
  background-color: #689ed4;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .container {
    padding: 0 80px;
  }
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.hide {
  opacity: 0;
}

.header {
  background: #5B7BB7;
}

.container--header {
  padding-top: 14px;
}

.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
}

.nav-list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

.nav-list__link--current {
  font-weight: 700;
}

.header-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.header-contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}

.header-contacts-list__link--second {
  gap: 6px;
}

.header-contacts-list__icon {
  fill: currentColor;
}

.section-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#5B7BB7), to(#6196CB));
  background: linear-gradient(180deg, #5B7BB7 0%, #6196CB 100%);
  padding-top: 148px;
  padding-bottom: 218px;
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 74px;
}

.hero-cont {
  max-width: 892px;
}

.hero-cont__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 58px;
  line-height: 0.94;
  color: #ffffff;
}

.hero-cont__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 36px;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 36px;
}

.hero-list__item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #C8D7EB;
  padding-left: 10px;
}

.hero-list__item::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 1px;
  height: 9px;
  background-color: #ffffff;
}

.hero-cont__button {
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  background: #2797ff;
  color: #ffffff;
}

.hero-vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 634px;
  height: 378px;
  border: none;
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 100, 0.3)), to(rgba(0, 10, 100, 0.3))), url("../images/vid-frame.jpg"), #C4C4C4;
  background: linear-gradient(0deg, rgba(0, 10, 100, 0.3), rgba(0, 10, 100, 0.3)), url("../images/vid-frame.jpg"), #C4C4C4;
}

.hero-vid__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.hero-vid__svg {
  fill: #ffffff;
}

.container--bio {
  padding-top: 148px;
}

.member-cont__thumb {
  border: none;
  border-radius: 10px;
}

.company-about-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 94px;
}

.company-about-cont__thumb {
  width: 362px;
  height: 392px;
  margin-right: 90px;
}

.company-description-cont__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.02;
  color: #ffffff;
}

.company-description-cont__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.company-description-cont__txt--frst {
  margin-bottom: 44px;
}

.comapny-members-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}

.member-description-cont {
  margin-top: 40px;
}

.member-cont__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  color: #ffffff;
  margin-bottom: 12px;
}

.member-cont__txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.wrk-principles-cont {
  padding: 155px 0;
}

.wrk-principles-cont__title {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.02;
  color: #ffffff;
}

.wrk-description-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 105px;
}
.wrk-description-cont:last-child {
  margin-bottom: 0;
}

.wrk-description-cont__thumb {
  border: 0;
  border-radius: 10px;
}

.wrk-cont-wrapper {
  padding-top: 22px;
}

.wrk-cont-wrapper__title {
  position: relative;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.02;
  color: #ffffff;
}

.wrk-cont-wrapper__title:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -10px;
  width: 4px;
  height: 32px;
  background-color: #ffffff;
}

.wrk-cont-wrapper__txt {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
}

.wrk-cont-wrapper__btn {
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  background: #2797ff;
  color: #ffffff;
}

.features-section {
  margin: 0 auto;
  padding-bottom: 160px;
}

.features__title {
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.02;
  text-align: center;
  color: #ffffff;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -35px;
  margin-bottom: -35px;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -35px;
    margin-bottom: -35px;
  }
}
.features-list__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 35px);
      flex-basis: calc(33.3333333333% - 35px);
  margin-right: 35px;
  margin-bottom: 35px;
}
.features-list__item:nth-child(4) {
  margin-bottom: 0;
}
.features-list__item:nth-child(5) {
  margin-bottom: 0;
}
.features-list__item:nth-child(6) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 35px);
        flex-basis: calc(33.3333333333% - 35px);
    margin-right: 35px;
    margin-bottom: 35px;
  }
  .features-list__item:nth-child(4) {
    margin-bottom: 0;
  }
}
.features-cont-wrapper {
  width: 500px;
  padding: 35px;
  background-color: #528dc9;
}

.features-cont-wrapper__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.45;
  color: #ffffff;
}

.features-cont-wrapper__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

.features-cont-thumb {
  width: 500px;
  height: 279px;
  background-image: url("../images/map.png");
}

.contacts-section {
  position: relative;
  min-height: 663px;
  padding-top: 115px;
  padding-bottom: 115px;
  background-image: url("../images/gglmap.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-section__icon {
  position: absolute;
  top: 40%;
  left: 65%;
  fill: #1D80EB;
}

.info-container {
  max-width: 694px;
  padding: 35px 45px;
  background-color: #ffffff;
}

.info-container__title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #102441;
}

.info-container__link {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #2797FF;
  margin-bottom: 24px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 18px;
}

.contacts-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 36px);
      flex-basis: calc(50% - 36px);
}

.contacts-list__icon {
  position: absolute;
  top: 2px;
  left: -13px;
}

.contacts-list__icon--map-pin {
  top: 2px;
}

.contacts-list__icon--phone {
  -webkit-transform: scale(142%);
          transform: scale(142%);
  fill: #2797ff;
}

.contacts-list__icon--whatsapp {
  top: 3px;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.contacts-list__icon--clock {
  top: 3px;
}

.contacts-list-wrapper {
  margin-left: 11px;
}

.contacts-list__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #102441;
  margin-bottom: 5px;
}

.contacts-list__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #7E8888;
}

.contacts-list__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #7E8888;
}

.wrapper-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 32px;
}

.wrapper-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: -45px;
  width: 694px;
  height: 1px;
  background-color: #DFDFDF;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.wrapper-cont__btn {
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  background: #2797ff;
  color: #ffffff;
}

.form-section {
  padding: 135px 0;
}

.container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 50px;
}

.question-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 857px;
}

.question-cont__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.02;
  color: #ffffff;
  margin-bottom: 50px;
}

.question-cont__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.question-cont__dscrpt {
  display: inline-block;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.question-cont__mail {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.question-cont__tel {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.question-cont__link-bold {
  font-weight: 700;
}

.quest-form {
  margin-top: 60px;
}

.form-field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 14px;
}

.form-field__input {
  width: 330px;
  height: 48px;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
}

.form-field__input::-webkit-input-placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.form-field__input::-moz-placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.form-field__input:-ms-input-placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.form-field__input::-ms-input-placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.form-field__input::placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.txtarea-cont {
  margin-top: 14px;
}

.txtarea-cont__textarea {
  resize: none;
  width: 674px;
  min-height: 130px;
  margin-bottom: 24px;
  padding: 14px 0 0 20px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
}

.txtarea-cont__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.txtarea-cont__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.txtarea-cont__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.txtarea-cont__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.txtarea-cont__textarea::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #405267;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.quest-form__btn {
  display: inline-block;
  width: 38%;
  padding: 18px 30px 18px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: #2797ff;
  color: #ffffff;
}

.quest-form__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer {
  height: 100%;
  background-color: #1C1E21;
  padding: 76px 0;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 180px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 180px;
}

.footer-logo-cont__txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.footer-nav__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer-nav-list__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 251.34%;
  color: #ffffff;
}

.footer-support__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer-support-list__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  color: #ffffff;
  white-space: nowrap;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contacts__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts-list__item {
  margin-bottom: 24px;
}
.footer-contacts-list__item:nth-child(3) {
  margin-bottom: 0;
}

.footer-contacts-list__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.footer-contacts__item--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 18px;
  margin-bottom: 30px;
}

.footer-contacts-list__icon {
  fill: #2797ff;
  -webkit-transform: scale(140%);
          transform: scale(140%);
}

.footer-contacts-list__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  white-space: nowrap;
}

.body {
  position: relative;
}

.button-up {
  position: fixed;
  right: 30px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 4px 4px;
  background-color: #2797ff;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.button-up-hidden {
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.button-up__icon {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */