.header{
    background: #5B7BB7;
}

.container--header{
    padding-top: 14px;
}

.header-cont{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 58px
}

.nav-list__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: $white-color;
}

.nav-list__link--current{
    font-weight: 700;
}

.header-contacts-list{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-contacts-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: $white-color;
}

.header-contacts-list__link--second{
    gap: 6px;
}

.header-contacts-list__icon{
    fill: currentColor;
}