.section-hero{
    background: linear-gradient(180deg, #5B7BB7 0%, #6196CB 100%);
    padding-top: 148px;
    padding-bottom: 218px;
}

.container--hero{
    display: flex;
    gap: 74px;
}

.hero-cont{
    max-width: 892px;
}

.hero-cont__title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 58px;
    line-height: 0.94;
    color: $white-color;
}

.hero-cont__paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: $white-color;
    margin-bottom: 36px;
}

.hero-list{
    display: flex;
    gap: 30px;
    margin-bottom: 36px;
}

.hero-list__item{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #C8D7EB;
    padding-left: 10px;
}

.hero-list__item::before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    width: 1px;
    height: 9px;
    background-color: $white-color;
}

.hero-cont__button{
    padding: 16px 30px 16px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    background: $light-blue-color;
    color: $white-color;
}

.hero-vid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 634px;
    height: 378px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 10, 100, 0.3), rgba(0, 10, 100, 0.3)), url('./images/vid-frame.jpg'), #C4C4C4;
    
}

.hero-vid__button{
    display: inline-flex;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.hero-vid__svg{
    fill: $white-color;
}