.body{
    position: relative;
}

.button-up{
    position: fixed;
    right: 30px;
    bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 4px 4px;

    background-color: $light-blue-color;

    transition: 1s;
    transform: translateX(0%);

    opacity: 1;
}

.button-up-hidden{
    opacity: 0;
    transform: translateX(200%);
}

.button-up__icon{
    fill: $white-color;
}

