.container--bio{
    padding-top: 148px;
}

.member-cont__thumb{
    border: none;
    border-radius: 10px;
}

.company-about-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}

.company-about-cont__thumb{
    
    width: 362px;
    height: 392px;
    margin-right: 90px;
}

.company-description-cont__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.02;
    color: $white-color;
}

.company-description-cont__txt{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $white-color;
}

.company-description-cont__txt--frst{
    margin-bottom: 44px;
}

.comapny-members-cont{
    display: flex;
    gap: 38px;
}

.member-description-cont{
    margin-top: 40px;
}

.member-cont__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.08;
    color: $white-color;
    margin-bottom: 12px;
}

.member-cont__txt{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: $white-color;
}