.container{
    max-width: 1920px;
    padding: 0 160px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .container{
        padding: 0 40px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .container{
        padding: 0 80px;
    }
}

